<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create Petition</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>

<body>

<h2>Create Petition</h2>

<form action="#" th:action="@{/create}" th:object="${petition}" method="post">
    <label for="title">Petition Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required>
    <br>
    <br>
    <label for="description">Petition Description:</label>
    <br>
    <textarea id="description" name="description" th:field="*{description}" required rows="4" cols="50">
    </textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

<br>

<a href="/niamhspetitions/viewallpetitions">
    View All Petitions
</a>

<br>
<br>

<a href="/niamhspetitions/search">
    Search Petitions
</a>

<br>
<br>

<a href="/niamhspetitions/">
    Return to Home Page
</a>

</body>
</html>