<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petition Creation Site</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>

<h1>Welcome to the Test Petition Creation Site</h1>
<br>

<p>This site allows you to create, view, search, and sign petitions.</p>
<br>


<a th:href="@{/create}">Create a Petition</a>
<br>

<br>
<a th:href="@{/viewallpetitions}">View All Petitions</a>
<br>

<br>
<a th:href="@{/search}">Search Petitions</a>


</body>
</html>