<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Petitions</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>

<h2>Search Petitions</h2>

<br>

<p>Enter a title of a petition to search for:</p>

<form action="#" th:action="@{/search}" method="get">
    <label for="searchTerm">Search Petitions:</label>
    <input type="text" id="searchTerm" name="searchTerm" required>
    <input type="submit" value="Search">
</form>


<br>

<a th:href="@{/create}">Create a Petition</a>

<br>
<a th:href="@{/viewallpetitions}">View All Petitions</a>

<br>
<a th:href="@{/}">Go to Homepage</a>

</body>
</html>