<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>View Petition</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>

<h1>View Petition</h1>

<h2 th:text="${petition.title}"></h2>
<p th:text="${petition.description}"></p>

<div th:if="${petition.signatures}">
    <h3>Signatures:</h3>
    <ul>
        <li th:each="signature : ${petition.signatures}">
            <p th:text="${signature.name} + ' (' + ${signature.email} + ')'"></p>
        </li>
    </ul>
</div>

<h3>Sign Petition:</h3>

<form th:action="@{'/viewpetition/' + ${petition.title}}" method="post" th:object="${signature}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:field="*{email}" required>
    <br>
    <br>
    <input type="submit" value="Sign">
</form>

<br>

<a th:href="@{/create}">Create a Petition</a>

<br>
<br>
<a th:href="@{/viewallpetitions}">View All Petitions</a>

<br>
<br>
<a th:href="@{/search}">Search Petitions</a>

<br>
<br>
<a th:href="@{/}">Go to Homepage</a>

</body>
</html>