<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>View All Test Petitions</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>

<h2>View All Petitions</h2>

<table border="1">
    <tbody>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr th:each="petition : ${petitions}">
        <td>
            <a th:href="@{/viewpetition/{title}(title=${petition.title})}">
                <span th:text="${petition.title}"></span>
            </a>
        </td>
        <td th:text="${petition.description}"></td>
    </tr>
    </tbody>
</table>


<br>

<a th:href="@{/create}">Create a Petition</a>

<br>
<a th:href="@{/search}">Search Petitions</a>

<br>
<a th:href="@{/}">Go to Homepage</a>


</body>
</html>