<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>View Petition</title>
</head>
<body>

<h2>View Petition</h2>

<h2 th:text="${petition.title}"></h2>
<p th:text="${petition.description}"></p>



<a href="/practice/viewallpetitions">
    <button>View All Petitions</button>
</a>

<br>

<a href="/practice/search">
    Search Petitions
</a>

<br>
<a href="/practice/viewallpetitions">
    View All Petitions
</a>

<br>
<a href="/practice/create">
    Create a Petition
</a>

</body>
</html>